*{
    margin: 0px;
    padding: 0px;
}
.logo img{
    width: 80px;
    margin-left: -10px;
    
}
.chip{
    width: 60px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 350px;
    width: 100%;
    background-color: antiquewhite;
}
header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.container{
    width: 400px;
    height: 220px;
    background-color: black;
    border-radius: 25px;
    padding: 25px;
}
h5{
    color: white;
    font-family: "poppins" sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.details{
    margin-top: 50px;

}
.Number{
    font-size: 22px;
    letter-spacing: 3px;
    margin-top: -10px;
}    
.name{
    margin-top: 20x;
    display: flex;
    justify-content: space-between;
    
}
